
*{
    font-family: 'Microsoft JhengHei', 'Apple LiGothic Medium', 'Arial', 'serif';
}

html{
    width: 100%;

}
body {
    position: fixed;
    top:0;
    bottom:0;
    left: 0 ;
    right: 0 ;
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    padding: .55rem 0;
    text-decoration: none;
}

.btn:active, .active {
    position: relative;
    top: 1.5px;
}

.bottomcontrol {
    position: absolute;
    bottom: 5px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.btnUniformGroup{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.btnUniformGroup div{
    display: table-cell;
    padding: 0 3px;
}
.btnUniformGroup button{
    width: 100%;
}



[v-cloak] {
    display: none;
}