.counter{
    font-size: 9px;
}

.processing {
    border-radius: 5px;
    background-color: lightcoral;
    padding: 1px 5px;
    font-size: 10px;
}

.topcontrol {
    position: absolute;
    height: 75px;
    left: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.labelInputGrid{
    display: table;
    table-layout: auto;
    white-space: nowrap;
    margin: 0 auto;
}
.col{
    display: table-cell;
    vertical-align:middle;
    padding:5px;
}
.col-left{
    text-align: right;
}

.inputTxt {
    font-size: 15px;
}

.boxDetailBody{
    margin: 0 -13px; 
    overflow: auto; 
    max-height: 66vh;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.boxDetailBody table{
    border-collapse: collapse;
}

.boxDetailBody table tbody{

    border-bottom: 1px solid #cccccc;

}
.boxDetailBody table tbody td{
    padding: 7px;
}


.tableWrapper {
    position: absolute;
    top: 78px;
    bottom: 49px;
    left: 12px;
    right: 12px;
}

.tableData {
    table-layout: fixed;
}
.tableData tbody td:nth-child(2), .tableData th:nth-child(2) {
    width: 72%;
}

.tableData tbody td:nth-child(1), .tableData tbody td:nth-child(3),
.tableData th:nth-child(1), .tableData th:nth-child(3) {
    width: 10%;
}

.tableWrapper table tbody tr:active, .tableWrapper table tbody td:active{
    background: yellow ;
}

@media all and (max-height: 350px) { 
    .tableWrapper {
        bottom: 30px;
    }
}