<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <title></title>
  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="style.css">
  <!-- end CSS-->
</head>

<body>
  <div id="train3">
    <div v-cloak>
      <div id="topcontrol"> <!--onblur="this.focus()"-->
        <div id="boxno" style="margin-bottom: 5px;"><span>箱號 :</span>
          <input @keyup.13="updateChk" type="text" class="inputTxt" tabindex="0" v-model="inputText" @click="toggleManual"  @focus="scannerInputFocusKeyboardHide" :placeholder="manualInput ? '手動輸入' : '掃描輸入'"  @blur="setFocusScannerInput" autofocus> </input> <br/>
          <!-- <input @keyup.13="updateChk" ref="scannerInput" type="text" tabindex="-1" v-model="inputText" @click.stop.prevent="scannerInputFocusKeyboardHide" @focus="scannerInputFocusKeyboardHide" placeholder="ScannerInput" autofocus> </input>  -->
        </div>
        <div id="filter">
          <button id="btnFilterN" @click="chk_active='N'" class="btn" :class="{active: chk_active=='N'}" tabindex="-1">未上車 (<span
              class="counter">{{countN}}</span>)</button>
          <button id="btnFilterY" @click="chk_active='Y'" class="btn" :class="{active: chk_active=='Y'}" tabindex="-1">已上車 (<span
              class="counter">{{countY}}</span>)</button>
          <button id="btnFilterE" @click="chk_active='E'" class="btn" :class="{active: chk_active=='E'}" tabindex="-1">錯箱 (<span
              class="counter">{{countE}}</span>)</button>
        </div>
      </div>
      <div id="boxnolist">
        <div v-if="noDataMessage" style="text-align: center; margin-top: 10px;">
          <div>{{noDataMessage}}</div>
          <div>{{errorMessage}}</div>
        </div>
        <table id="tableData" v-show="boxData.length > 0">
          <thead>
            <tr>
              <th></th>
              <th>箱號</th>
              <th>門市</th>
            </tr>
          </thead>
          <tbody id="tbodyData">
            <tr v-for="(boxListResult, index) in boxData" v-show="chk_active == boxListResult.CHK">
              <td>{{index+1}}</td>
              <td>{{boxListResult.BoxNo}} <span class="processing" v-show="processingBoxes.indexOf(boxListResult.BoxNo) != -1">處理中...</span></td>
              <td>{{boxListResult.StoreNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="bottomcontrol">
        <button id="btnExit" @click="outReport" class="btn" tabindex="-1" :disabled="fetchingReport">結束</button>
        <button id="btnFetch" @click="refetch" class="btn" tabindex="-1" :disabled="fetchingData">重讀</button>
      </div>
      <transition name="modal" :duration="200">
        <modal v-if="modalMessage" @modal-close="modalMessage=''" :fetching="fetchingReport">
          <div slot="body">{{modalMessage}}</div>
        </modal>
      </transition>
    </div>
  </div>
  <!-- JavaScript at the bottom for fast page loading -->
  <script src="es6-promise.auto.min.js"></script>
  <script src="axios.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="script.js"></script>
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!-- <script>
    // window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    // Modernizr.load({
    //   load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    // });
  </script> -->
</body>

</html>