select{
    width:100%;   
}
.topcontrol{
    position: absolute;
    top: 0;
    height:30px;
    width: 100%;
}

.labelInputGrid{
    display: table;
    table-layout: auto;
    white-space: nowrap;
    width: 100%;
    margin: 0 auto;
}

.col-left{
    display: table-cell;
    width: 1%;
    padding:5px;
}

.col-right{
    display: table-cell;
    padding:5px; 
}
