<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <title></title>
  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="datepicker/datepicker.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="train1.css">
  <!-- end CSS-->
</head>

<body>
  <div id="train1" v-cloak>

      <div class="wrap">
        <div class="tablelayout">
            <!-- 車號 -->
            <div class="row">
              <div class="col col-left">
                車號
              </div>
              <div class="col col-mid"> : </div>
              <div class="col col-right">
                <select v-if="!manualAddCarLicense" @change="onSelectCarLicense($event)">
                  <option value="InsertNewCarlicense">+新增</option>
                  <option v-for="licenseNo in carLicenseList" :selected="selectedCarLicense==licenseNo" :value="licenseNo">{{licenseNo}}</option>
                </select>
                <div v-else>
                  <input tabindex="-1" type="text" ref="txtInputCarLicense" @keyup.enter.prevent="$event.target.blur()"  @blur="addInputCarLicense($event)" >
                </div>
              </div>
            </div>
            <!-- 裝車人 -->
            <div class="row" v-for="i in numOfLoadUsers">
              <div class="col col-left"><span v-if="i==1">裝車人</span></div>
              <div class="col col-mid"><span v-if="i==1"> : </span></div>
              <div class="col col-right">
                <!-- <input tabindex="-1" type="text" list="loadUsers" @change="onSelectLoadUser($event, i)" > -->
                <!-- <datalist id="loadUsers"  > -->
                <select v-if="manualAddLoadUser!=(i-1)"  @change="onSelectLoadUser($event, i-1)" >
                  <option value=""></option>
                  <option value="InsertNewLoadUser">+新增</option>
                  <option v-for="u in logUsers" :disabled="selectedLoadUsers.includes(u.Account)" :selected="selectedLoadUsers.indexOf(u.Account) == i-1" :value="u.Account" >{{u.Account}} {{u.Name}}</option>
                </select>
                <div v-else>
                  <input  tabindex="-1" type="text" ref="txtInputLoadUser" @keyup.enter.prevent="$event.target.blur()"  @blur="addInputNewLoadUser($event, i-1)" >
                </div>
                <!-- </datalist> -->
              </div>
            </div>            
             <!-- 出車日期 -->
            <div class="row">
              <div class="col col-left">
                出車日期
              </div>
              <div class="col col-mid"> : </div>
              <div class="col col-right">
                <input type="text" :value="formattedDate" class="dateinput" readonly>
              </div>
            </div>
            <!-- 出車人 -->
            <div class="row"  v-for="i in numOfDrivers">
              <div class="col col-left">
                <span v-if="i==1">出車人</span>
              </div>
              <div class="col col-mid"><span v-if="i==1"> : </span></div>
              <div class="col col-right">
                <select v-if="manualAddDriver!=(i-1)"  @change="onSelectDriver($event, i-1)">
                  <option value=""></option>
                  <option value="InsertNewDriver">+新增</option>
                  <option v-for="u in logUsers" :disabled="selectedDrivers.includes(u.Account)" :selected="selectedDrivers.indexOf(u.Account) == i-1" :value="u.Account">{{u.Account}} {{u.Name}}</option>
                </select>
                <div v-else>
                  <input  tabindex="-1" type="text" ref="txtInputDriver" @keyup.enter.prevent="$event.target.blur()"  @blur="addInputNewDriver($event, i-1)" >
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="bottomcontrol btnUniformGroup">
        <div>
          <button @click="exit" class="btn">結束</button>
        </div>
        <div></div><div></div>
        <div>
          <button @click="next" class="btn" :disabled="!requiredFilled">下一步</button>
        </div>
      </div>

  </div>

  <script src="es6-promise.auto.min.js"></script>
  <script src="datepicker/datepicker.min.js"></script>
  <script src="datepicker/zh-TW.js"></script>
  <script src="axios.min.js"></script>
  <script src="vue.js"></script>
  <script src="script.js"></script>
  <script src="train1.js"></script>
</body>

</html>