#train1{
    height: 100%;
}

select{
    width: 100%;
    height: 75%;
}

.tablelayout{
    display: table;
    table-layout: auto;
    height:100%;
    padding-top: 5px;
    padding-bottom: 80px;
    white-space: nowrap;
    margin: 0 auto;
}

.row {
    display:table-row;
}

.col{
    display: table-cell;
    vertical-align: middle;
}

.col-right{
    width:70%;
}

.col-mid{
    text-align: center;
}

.col-left{
    width: 25%;
    text-align: center;
    text-align-last: justify;
}
